<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ljuboandtedi.fridger">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".activties.MainActivity" />
        <activity android:name=".activties.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activties.ShowMealActivity" />
        <activity android:name=".activties.RecipeInfoActivity" />
        <activity android:name=".activties.ProfileActivity" />
        <activity android:name=".activties.ShoppingListActivity" />
        <activity android:name=".activties.DrawerActivity" />
        <activity android:name=".activties.FavouriteMealsActivity" />
        <activity android:name=".activties.YourFridgeActivity" />
        <activity android:name=".activties.SearchMealsActivity" />
        <activity android:name=".activties.NutritionsActivity" />
        <activity android:name=".activties.SearchingActivity" />
        <receiver android:name=".widget.CollectionWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION.WIDGET.UPDATE.FROM.ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ALARM"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget_info" />
        </receiver>
        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>